@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Bebas Neue";
  color: #333;
  background-color: rgb(250, 244, 235);
  /* color: rgb(250, 244, 235, 0.5);
  background-color: #0e0d0d; */
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.5em;
}
.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #b1adad;
}
.navbar h1 {
  color: #0e0d0d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #d39999;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.work-preview {
  padding: 10px 16px;
  margin: 20px 0;
  /* border-bottom: 1px solid #fafafa; */
}
.work-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.work-preview h2,
p {
  background: none;
  font-size: 20px;
  margin-bottom: 8px;
}
.work-preview a {
  text-decoration: none;
}

.work-preview img {
  max-width: 100%;
  height: auto;
}

/* blog details page */
.work-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.work-details div {
  margin: 20px 0;
}
.work-details img {
  max-width: 100%;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
