@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Red Hat Mono";
  font-weight: 500;
  background-color: rgb(245, 242, 229);
  /* color: rgb(250, 244, 235, 0.5);
  background-color: #0e0d0d; */
}

html {
  scroll-behavior: smooth;
}

div.sticky {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #b1adad;
}
nav a {
  color: #333;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
nav a:hover {
  text-decoration: underline;
}
nav a.active {
  text-decoration: underline;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* work previews / list */
.work-preview {
  color: #333;
  padding: 10px 16px;
  margin: 20px 0;
  /* border-bottom: 1px solid #fafafa; */
}
.work-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.work-preview h2 {
  font-weight: 600;
}
.work-preview p {
  background: none;
  font-size: 12px;
  margin-bottom: 8px;
}
.work-preview a {
  color: #333;
  text-decoration: none;
}

.work-preview img {
  max-width: 100%;
  height: auto;
}

/* blog details page */
.work-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.work-details div {
  margin: 20px 0;
}
.work-details img {
  max-width: 100%;
}

.tech {
  font-style: italic;
}
.desc {
  font-style: italic;
}
